.menu {
    width: fit-content;
    position: absolute;
    right: 10px;
}

.submenu {
    position: absolute;
    z-index: 99;
    display: none;
}

.submenu li {
    z-index: inherit;
    margin-top: 16px;
}

.menu li:hover .submenu {
    display: block;
}
